$darkPrimaryBg: #121212;
$darkSecondaryBg: #1d1d1d;
$darkPrimaryTxt: #ffffff;
$darkSecondaryTxt: #c4c5c5;

$lightPrimaryBg: #ffffff;
$lightSecondaryBg: #f2f0f0;
$lightPrimaryTxt: #141414;
$lightSecondaryTxt: #121212;

$primary: #014a9c;
