@import "./colors.scss";

.light {
  .bgPrimary {
    background-color: $lightPrimaryBg;
  }
  .bgSecondary {
    background-color: $lightSecondaryBg;
  }
  .txtPrimary {
    color: $lightPrimaryTxt;
  }

  .txtSecondary {
    color: $lightSecondaryTxt;
  }

  .bgInput {
    background-color: $lightInput;
  }
}

.dark {
  .bgPrimary {
    background-color: $darkPrimaryBg;
  }

  .bgSecondary {
    background-color: $darkSecondaryBg;
  }

  .txtPrimary {
    color: $darkPrimaryTxt;
  }

  .txtSecondary {
    color: $darkSecondaryTxt;
  }

  .bgInput {
    background-color: $darkInput;
  }
}
